autoscan.log
**/Makefile
**/Makefile.in
**/*.swp
**/*.o
**/*.a    
**/.deps
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
examples/test_create_index
examples/test_delete_index
examples/test_get_by_id
examples/test_index_exist

